<div class="container rounded mt-5 bg-white p-md-5" style="
margin-left: 150px;
">
    <div class="h2 font-weight-bold"> Booking</div>
    <div class="table-responsive">
        <table class="table" style="
        width: 1056px;
    ">
            <thead>
                <tr>
                    <th scope="col" style="
                    width: 206px;
                ">Slno</th>
                    <th scope="col" style="
                width: 206px;
            ">Customer name</th>
                    <th scope="col" style="
                    width: 206px;
                "> Product name</th>
                    <th scope="col" style="
                     width: 206px;
                 "> Quantity</th>
                    <th scope="col" style="
                 width: 206px;
             ">Prdouct Delivery date</th>
                    <th scope="col" style="
                    width: 206px;
                ">Order Status</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let di of blacklist;let 
                i=index;" class="bg-blue">
                    <td class="pt-3 mt-1">{{ i+1 }}</td>

                    <td class="pt-2">
                        <div class="pl-lg-4 pl-md-2 pl-1 name">{{ di.Name }}</div>
                    </td>
                    <td class="pt-3 mt-1">{{ di.Product_name }}</td>
                    <td class="pt-3 mt-1">{{ di.Quantity }}</td>
                    <td class="pt-3">{{ di.Prdouct_Delivery_date }}</td>
                    <td class="pt-3">{{ di.Order_status }}</td>
                    <td class="pt-3" >
                        
                    </td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>