<!-- <div class="container rounded mt-5 bg-white p-md-5" style="
margin-left: 300px;
">
    <div class="h2 font-weight-bold">Blacksmith Worker</div>
    <div class="table-responsive">
        <table class="table" style="
        width: 1056px;
    ">
            <thead>
                <tr>
                    <th scope="col" style="
                    width: 206px;
                ">Slno</th>
                    <th scope="col" style="
                width: 206px;
            ">Name</th>
                    <th scope="col" style="
                    width: 206px;
                ">Email</th>
                    <th scope="col" style="
                    width: 206px;
                ">Mobile</th>
                <th scope="col" style="
                width: 206px;
            ">Status</th>
                    <th scope="col" style="
                    width: 206px;
                ">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let di of productlist;let 
                i=index;" class="bg-blue">
                <td class="pt-3 mt-1">{{ i+1 }}</td>

                    <td class="pt-2">
                        <div class="pl-lg-4 pl-md-2 pl-1 name">{{ di.Product_name }}</div>
                    </td>
                   
                    <td class="pt-3 mt-1"><img [src]="di.Image" alt=""></td>
                    <td class="pt-3">{{ di.Price }}</td>
                    <td class="pt-3">{{ di.Product_Description }}</td>
                    <td class="pt-3"><span (click)="delete(di.Blacksmithid)" class="fa fa-trash pl-3"></span></td>
                    
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
</div> -->
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3" *ngFor="let di of productlist;">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img [src]="di.Image"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{ di.Product_name }}</h5>
                  <!-- <div class="d-flex flex-row">
                    {{ di.blacksmith_id }}
                  </div> -->
                  <!-- <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>-->
                  <div class="mb-2 text-muted small">
                    <!-- <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span> -->
                    {{ di.Product_Description }}
                    
                  </div> 
                  <p class="text-truncate mb-4 mb-md-0">
                    <!-- {{ di.Product_Description }} -->
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">₹{{ di.Price }}</h4>
                    <!-- <span class="text-danger"><s>$20.99</s></span> -->
                  </div>
                  <!-- <h6 class="text-success">Free shipping</h6> -->
                  <div class="d-flex flex-column mt-4">
                    <button class="btn btn-primary btn-sm" (click)="delete(di.Productid)" type="button">Delete</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button" [routerLink]="['/Productedit',di.Productid]">
                     Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
     
    </div>
  </section>